body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.validation-summary-errors {
    color: red;
    font-weight: bold;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#borderDiv, #QuickSearchDiv, #SpecialDiv, #VehicleTemplate {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    margin-bottom: 15px;
}

.FeatureTileDiv {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 10px;
}

.VehicleTileImage {
    padding-top: 10px;
    max-height: 100px;
    min-height: 100px;
}

.form-inline {
    width:auto;
}


