<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bank.Properties.Settings.newbankConnectionString"
            connectionString="Data Source=DHSVHS;Initial Catalog=newbank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bank.Properties.Settings.newbankConnectionString12"
            connectionString="Data Source=PRAVIN\SQLEXPRESS;Initial Catalog=newbank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Bank.Properties.Settings.BanK_DBConnectionString"
            connectionString="Data Source=PRAVIN\SQLEXPRESS;Initial Catalog=BanK_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>