
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="nav nav-pills">
    <li>@Html.ActionLink("Inventory Reports", "Inventory", "Reports")</li>
    <li>@Html.ActionLink("Sales Reports", "Sales", "Reports")</li>
</ul>
