
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr/>
<ul class="nav nav-pills navbar-nav mr-auto">
    <li class="nav-item">@Html.ActionLink("Inventory Reports", "Inventory", "Reports")</li>
    <li class="nav-item">@Html.ActionLink("Sales Reports", "Sales", "Reports")</li>
</ul>
