<h4>Admin</h4>
<ul class="nav nav-pills flex-column">
    <li>@Html.ActionLink("Majors", "Majors", "Admin")</li>
    <li>@Html.ActionLink("States", "States", "Admin")</li>
    <li>@Html.ActionLink("Courses", "Courses", "Admin")</li>
</ul>
